.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            var(--color-black) 0%,
            var(--color-dark) 29%,
            var(--color-primary) 67%,
            var(--color-light) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 6s linear infinite;
    display: inline-block;
    font-size: 16px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}






.skill__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


.skill__frontend, .skill__backend {
    background: var(--color-light);
    padding: 2.4rem 5rem;
    border-radius: var(--border-radius-1);
    border: 2px solid transparent;
    transition: var(--transition);
}

.skill__frontend:hover, .skill__backend:hover {
    background: transparent;
    border: 2px solid var(--color-light);
    transform: translateY(-0.5rem);
    transition: var(--transition);
}

.skill__frontend h3, .skill__backend h3 {
    text-align: center;
    margin-bottom: 3rem;
}

.skill__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.skill__details {
    display: flex;
    gap: 1rem;
}

.skill__details-icon {
    font-size: 1.3rem;
    color: var(--color-black);
    border-radius: var(--border-radius-3);
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.skill__frontend:hover .skill__details-icon, .skill__backend:hover .skill__details-icon {
    background: var(--color-primary);
    color: var(--color-white);
    transition: var(--transition);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .skill__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .skill__frontend, .skill__backend {
        width: 100%;
        padding: 1.2rem .7rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .skill__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .skill__frontend, .skill__backend {
        width: 100%;
        padding: 2rem 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .skill__container {
        grid-template-columns: 1fr 1fr;
        gap: 1;
    }

    .skill__frontend, .skill__backend {
        width: 100%;
        padding: 1rem 1rem;
    }

    .skill__content {
        padding: 1rem 0rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .skill__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .skill__frontend, .skill__backend {
        padding: 1.5rem 1.5rem;
    }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .skill__frontend, .skill__backend {
        padding: 2.4rem 3rem;
    }

    .skill__content {
        padding: 0rem;
    }
}