.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


.experience__frontend, .experience__backend {
    background: var(--color-light);
    padding: 2.4rem 5rem;
    border-radius: var(--border-radius-1);
    border: 2px solid transparent;
    transition: var(--transition);
}

.experience__frontend:hover, .experience__backend:hover {
    background: transparent;
    border: 2px solid var(--color-light);
    transform: translateY(-0.5rem);
    transition: var(--transition);
}

.experience__frontend h3, .experience__backend h3 {
    text-align: center;
    margin-bottom: 3rem;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    font-size: 1.3rem;
    color: var(--color-black);
    border-radius: var(--border-radius-3);
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.experience__frontend:hover .experience__details-icon, .experience__backend:hover .experience__details-icon {
    background: var(--color-primary);
    color: var(--color-white);
    transition: var(--transition);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .experience__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .experience__frontend, .experience__backend {
        width: 100%;
        padding: 1.2rem .7rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .experience__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .experience__frontend, .experience__backend {
        width: 100%;
        padding: 2rem 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .experience__container {
        grid-template-columns: 1fr 1fr;
        gap: 1;
    }

    .experience__frontend, .experience__backend {
        width: 100%;
        padding: 1rem 1rem;
    }

    .experience__content {
        padding: 1rem 0rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .experience__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .experience__frontend, .experience__backend {
        padding: 1.5rem 1.5rem;
    }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .experience__frontend, .experience__backend {
        padding: 2.4rem 3rem;
    }

    .experience__content {
        padding: 0rem;
    }
}